html,
body
{
    font-family: 'Bangers', cursive;
    font-family: 'Raleway', sans-serif;    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("mainimg.jpg");

}

.container{

    position: relative;
    width: 100%;
    height: 100%;

}

.buttonslist
{
    z-index: 100;
    border-top: rgb(9, 255, 42) solid 4px; 
    border-bottom: rgb(9, 255, 0) solid 4px;
    left: 0;
    top: 0;
    position: sticky;
    justify-content: center;
    text-align: center;
    margin-top: 20%;
    width: 100%;
    background-color: rgba(17, 0, 255, 0.705);


}

.buttons
{
    
    background-color: rgba(32, 150, 228, 0.308);
    
}

ul
{
    display: inline-block;

    list-style-type: none;

}

li
{   
    margin-top: 1px;
    justify-content: center;

}

li a
{
    color: white;
    background-color: rgba(0, 0, 0, 0.479);
    padding: 16px 18px;
    border:rgba(0, 255, 0, 0.575) solid 2px;
    margin-left: 3px;
    display: block;
    text-align: center;
    text-decoration: none;
    float: left;

}

li a:hover
{
    transition: all 0.5s;
    background-color: rgba(137, 43, 226, 0.836);

}


