html,
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    

}

.coinscontain
{

    float:left;
    width: 15%;
    height: 10%;
}

.coinscontain tekst
{
    font-size: 20px;

}



.topbar{
    word-wrap: break-word;
    height: 10%;
    background-color: rgba(200, 0, 69, 0.685);
    text-align: center;
    white-space:normal

}

.content{

    background-color: rgba(70, 69, 69, 0.685);
    width: 100%;
    height: 100%;


}



.content2
{
    float: left;
    height: 90%;
    width: 85%;


}

#clickImgContainer
{
    
    margin-top:7%;
    margin-left:30%;
    

}


#rightbar{
    float: left;
    height: 90%;
    width: 15%;
    background-color: rgba(153, 205, 50, 0.507);
}



.upgrades
{
    width: 100%;
    height: 100%;
}

.upgrade 
{
    font-size: 15px;
    width: 98%;
    max-height: 100px;
    margin: 1%;
    float: left;
    background-color: rgba(0, 0, 0, 0.438);

}

.upgrade tekst
{
    color: red;

}


.upgradeimg{
    float: left;
    width: 100px;
    max-height: 100px;
    cursor: pointer;

}
.upgradeimg:hover{
    content: url("images/mousehover.png");
    float: left;
    width: 100px;
    max-height: 100px;
    cursor: pointer;

}
.upgradeimg:hover:active{
    content: url("images/mouse.png");
    float: left;
    width: 100px;
    max-height: 100px;
    cursor: pointer;

}
.upgradeimg2{
    float: left;
    width: 100px;
    max-height: 100px;
    cursor: pointer;

}
.upgradeimg2:hover{
    content: url("images/multipliericonhover.png");
    float: left;
    width: 100px;
    max-height: 100px;
    cursor: pointer;

}
.upgradeimg2:hover:active{
    content: url("images/multipliericon.png");
    float: left;
    width: 100px;
    max-height: 100px;
    cursor: pointer;

}









#clickImg{

    transition: all 0.5s;
    height: 560px;
    background-image: url("images/cononcoin.png");
    background-repeat: no-repeat;
    width: 556px;
}

#clickImg:hover:active{

    
    height: 560px;
    background-image: url("images/cononcoin.png");
    background-repeat: no-repeat;
    width: 556px;
    transform: scale(1);
    transition: all 0;


}

#clickImg:hover{
    cursor: pointer;
    transform: scale(1.025);
    transition: all 0.4s;
    background-image: url("images/cononcoinhover.png");


}

#clickImg #clickzonecontainer{
    height: 50px;
    width: 50px;
    margin-left: 45%;
    padding-top: 50%;


}

#clickzone{

    background-color: gray;

}

#upgrade
{
    cursor: pointer;

}

.topbarcontain2{
    width: 100%;
    height: 100%;
    color: rgba(255, 0, 0, 0.596);
}
