html,
body
{
	overflow-wrap: break-word;
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("https://i.imgur.com/36PjIIx.jpg");
	height: 100%;
	width: 100%;
	color: rgb(0, 0, 0);
	background-color: #1E1E1E;
	margin: 0;
	padding: 0;	
}

/*-------------- NIE RUSZAĆ--------------------------------------*/
.stickybar{

	
    position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	min-width: 100%;
	min-height: 5%;

}
/*-------------------------------------------------------*/
ul{

	margin: 0;
	padding: 0;
	list-style-type: none;
}


.stickybar li{

	border-right: 1px solid #bbb;
	float: left;
	pointer-events: auto;

}

.stickybar li a{

	
	color: white;
	display: block;
	background-color:rgba(0, 0, 0, 0.6);
	padding: 16px 18px;
	text-align: center;
	text-decoration: none;

}

.stickybar li a:hover{

	transition: all 0.7s;
	background-color: gray;

}


.pagecontainer
{
	margin: 0 auto;
	padding-top: 64px;
	width: 100%;
	display: flex;

}


.contentcontainer{

	display: flex;
	background-color: rgba(255, 0, 0, 0);
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10%;
	margin-bottom: 10%;
	width: 80%;
	height: 100%;


}


.topbarzawartosc{

	margin-top: 20px;
	font-size: 20px;


}


.sidebar{

	float: left;
	background-color: rgba(12, 10, 131, 0.5);
	width: 10%;
	border-left: #000000 solid 3px;
	border-top: #000000 solid 3px;
	border-bottom: #000000 solid 3px;

}


.content{
	width: 100%;
	color: gray;
	background-color: rgba(0, 0, 0, 0.5);
	border-top: #000000 solid 3px;
	border-left: #000000 solid 3px;
	border-bottom: #000000 solid 3px;



}

.programyjs li
{
	margin-top: 1%;
	margin-left: 0%;


}

.programyjs li a
{
	color: white;
	display: block;
	background-color:rgb(17, 83, 136);
	padding: 16px 18px;
	text-align: center;
	text-decoration: none;
	border: rgb(0, 119, 255) solid 2px;

}

.programyjs li a:hover
{
	cursor: pointer;
	transition: all 0.7s;
	background-color: rgb(128, 128, 128);

}

.footer {

	color: gray;
 	position: absolute;
 	right: 0;
 	left: 0;
 	padding: 1rem;
 	background-color: #000000;
 	text-align: center;
}


